.form {
	margin-left: -10px;
	&_item {
		width: 100%;
		float: left;
		margin-bottom: 10px;
		padding-left: 10px;
		&--half {
			width: 50%;
		}
	}
	&_label {
		margin-bottom: 5px;
		font-size: 0.8rem;
		text-transform: uppercase;
		color: $light-slate;
	}
	&_input {
		width: 100%;
		height: 50px;
		padding: 0 10px;
		border: none;
		border-top: 2px solid darken($light-slate, 2.5%);
		border-bottom: 2px solid darken($light-slate, 2.5%);
		border-radius: 0;
  		background: darken($light-slate, 2.5%);
		line-height: 45px;
		color: $slate;
		&:focus {
			border-bottom: 2px solid $rain;
			outline: none;
		}
		&--textarea {
			min-height: 200px;
			resize: vertical;
		}
	}
	&_buttons {
		&--right {
			text-align: right;
		}
	}
	&_button {
		display: inline-block;
		margin: 0;
		padding: 8px 12px;
		border: none;
		border-radius: 0;
		background: $rain;
		font-weight: bold;
		color: $light-slate;
		&:hover {
			background: lighten($rain, 15%);
			color: lighten($light-slate, 15);
		}
		&:focus, &:active {
			background: darken($rain, 15%);
			color: darken($light-slate, 15);
			outline: none;
		}
	}
}